.form-login{
  position: absolute;
  width: 350px;
  top: 50px;
  left: 50%;
  margin-left: -175px;
  padding: 20px 40px 40px;
  border: 1px solid #ccc;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }

.grey-box{
  display: inline-block;
  min-width: 230px;
  float: right;
  margin: 40px 0;
  padding: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.grey-box h4{
  margin: 0 auto 10px;
}

.grey-box input{
  width: 100px;
  display: inline-block;
}
